<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<appSettings>
		<add key="DefaultConfigFile" value="config.xml" />
	</appSettings>
	<log4net>
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
		<layout type="log4net.Layout.PatternLayout">
	  		<conversionPattern value="%date %logger %-5level:	%message%newline" />
		</layout>
	  	<filter type="log4net.Filter.LevelMatchFilter">
			<levelToMatch value="OFF"/>
			<acceptOnMatch value="false" />
		</filter>
	</appender>
	<appender name="ConsoleAppenderAlways" type="log4net.Appender.ConsoleAppender" >
		<layout type="log4net.Layout.PatternLayout">
	  		<conversionPattern value="%message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="OFF"/>
		</filter>
		<filter type="log4net.Filter.LevelMatchFilter">
			<acceptOnMatch value="true" />
			<levelToMatch value="OFF"/>
		</filter>
	</appender>
	<appender name="LocalSyslogAppender" type="log4net.Appender.LocalSyslogAppender">
		<layout type="log4net.Layout.PatternLayout, log4net">
			<conversionPattern value="%date %logger %-5level:	%message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelMatchFilter">
			<acceptOnMatch value="false" />
			<levelToMatch value="OFF"/>
		</filter>
	</appender>
	<appender name="LocalSyslogAppenderAlways" type="log4net.Appender.LocalSyslogAppender">
		<layout type="log4net.Layout.PatternLayout, log4net">
			<conversionPattern value="%logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="OFF"/>
		</filter>
		<filter type="log4net.Filter.LevelMatchFilter">
			<acceptOnMatch value="true" />
			<levelToMatch value="OFF"/>
		</filter>
	</appender>
	<root>
	<level value="DEBUG" />
		<appender-ref ref="ConsoleAppender" />
		<appender-ref ref="ConsoleAppenderAlways" />
		<appender-ref ref="LocalSyslogAppender" />
		<appender-ref ref="LocalSyslogAppenderAlways" />
	</root>
	</log4net>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
</configuration>

